body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    h1 {
        color: navy;
        text-align: center;

    }

    h2 {
	color: green;
	text-align: center;

    }


    p {
        font-size: 16px;
        line-height: 1.5;
	text-align: center;
    }

img {
	display: block;
	margin: auto;
	width: 20%;
        border: 2px solid #555
    }

   h3 {
	color: green;
	text-align: left;

    }

ul:not([class]) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3BA33E;

}

ul li {
  float: left;

}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

ul li a:hover {
  background-color: #1B541C;

}
